@page "/AddBadge/{Id}"

@using System.Text.Json;


<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <h3>Add Badge or Activity</h3>
        <Form Model="@model"

              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed"
              Size="@model.Size">
        <FormItem Label="Select">
            <Select Mode="default"
                    DataSource="@_persons"
                    @bind-Value="@context.Name"
                    LabelName="@nameof(Person.Name)"
                    ValueName="@nameof(Person.Name)">
            </Select>
        </FormItem>

    
            <div class="d-flex justify-content-center">
                <Popconfirm Title="Are you sure you want to delete the badge from this person?" Icon="close-circle">
                    <button HtmlType="submit" class="btn btn-primary">
                        Add Badge
                    </button>
                </Popconfirm>
            </div>
        </Form>
    </div>
    <div class="col">
    </div>

</div>
@code {
    [Parameter]
    public string ID { get; set; }
    public class Model
    {
        public string Size { get; set; } = AntSizeLDSType.Small;
        public string Name { get; set; }
    }
    public IEnumerable<string> Names { get; set; } = Array.Empty<string>();
    private Model model = new Model();
    record Person(string Name);
    private List<Person> _persons = new List<Person>
        {
            new Person("John"),
            new Person("Lucy"),
            new Person("Jack"),
            new Person("Emily"),
        };

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }

}
