@page "/AddBadge/{Id}"

@using System.Text.Json;


@inject IUserService UserService;
@inject IEarnablesService EarnablesService;





@if(isAdded)
{
    <h3>Added!</h3>
}
else
{
    <div class="row panel">
        <div class="col">
        </div>
        <div class="col">
            <h3 class="text-center">Add Badge or Activity</h3>
        
            <Form Model="@model"

                  OnFinish="OnFinish"
                  OnFinishFailed="OnFinishFailed"
                  Size="@model.Size">
                  <div class="d-flex justify-content-center">
                        <FormItem Label="Form Size">
                            <RadioGroup @bind-Value="@context.Size">
                                <Radio RadioButton Value="@AntSizeLDSType.Small">Small</Radio>
                                <Radio RadioButton Value="@AntSizeLDSType.Default">Default</Radio>
                                <Radio RadioButton Value="@AntSizeLDSType.Large">Large</Radio>
                            </RadioGroup>
                        </FormItem>
                    </div>
            <FormItem Label="Badges">
                <Select Mode="multiple"
                    @bind-Values="@badgeSelections"
                    Placeholder="Select one or more badges"
                    TItemValue="Data.Badge"
                    TItem="Data.Badge">
                    <SelectOptions>
			            @foreach(Data.Badge badge in badges)
			            {
				            <SelectOption TItemValue="Data.Badge" TItem="Data.Badge" Value=@badge Label=@badge.Name />
			            }
		            </SelectOptions>
                </Select>
            </FormItem>
            <FormItem Label="Activities">
                <Select Mode="multiple"
                    @bind-Values="@activitySelections"
                    Placeholder="Select one or more activies"
                    TItemValue="Data.Activity"
                    TItem="Data.Activity">
                    <SelectOptions>
                        @foreach (Data.Activity activity in activities)
                        {
                                <SelectOption TItemValue="Data.Activity" TItem="Data.Activity" Value=@activity Label=@activity.Name />
                        }
                    </SelectOptions>
                </Select>
            </FormItem>

    
                <div class="d-flex justify-content-center">
                        
                            <button HtmlType="submit" class="btn btn-primary">
                                Add
                            </button>
                        
                    </div>
            </Form>
            </div>
            <div class="col">

            </div>
        </div>
}

@code {
    [Parameter]
    public string ID { get; set; }

    public class Model
    {
        public string Size { get; set; } = AntSizeLDSType.Small;
        public string Name { get; set; }
    }
    public IEnumerable<string> Names { get; set; } = Array.Empty<string>();
    private Model model = new Model();
    record Person(string Name);
    private List<Person> _persons = new List<Person>
        {
            new Person("John"),
            new Person("Lucy"),
            new Person("Jack"),
            new Person("Emily"),
        };

    private List<EarnedBadge> earnedBadges = new();
    private List<CompletedActivity> completedActivities = new();
    private List<Data.Badge> badges = new();
    private List<Data.Activity> activities = new();
    private User user;
    private IEnumerable<Data.Badge> badgeSelections;
    private IEnumerable<Data.Activity> activitySelections;
    private bool isAdded = false;

    protected async override Task OnInitializedAsync()
    {
        await init();
    }

    private async Task init()
    {
        Int32.TryParse(ID, out int id);

        user = await UserService.GetUserById(id);

        earnedBadges = await EarnablesService.GetEarnedBadgesByUserId(id) ?? new();
        completedActivities = await EarnablesService.GetCompletedActivitiesByUserId(id) ?? new();

        badges = await EarnablesService.GetAllBadges();
        activities = await EarnablesService.GetAllActivities();

        foreach (EarnedBadge badge in earnedBadges)
        {
            badges.RemoveAll(b => b.Id == badge.BadgeId);
        }
        foreach (CompletedActivity activity in completedActivities)
        {
            activities.RemoveAll(b => b.Id == activity.ActivityId);
        }
    }

    private async Task OnFinish(EditContext editContext)
    {
        if (badgeSelections == null && activitySelections == null) return;

        if (badgeSelections != null)
        {
            foreach (Data.Badge badge in badgeSelections)
            {
                await UserService.AddBadgeToUser(user, badge);
            }
        }
        if (activitySelections != null)
        {
            foreach (Data.Activity activity in activitySelections)
            {
                await UserService.AddActivityToUser(user, activity);
            }
        }
        isAdded = true;
        StateHasChanged();
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }

}
