@page "/EditActivity/{Id}"

@using System.Text.Json;
@using BadgeTracker.Data;

@inject IEarnablesService EarnablesService;

<h3>Create a new Badge or Activity</h3>




<div class="container-fluid">
    @if (isUpdated)
    {
        <h3>Updated!</h3>
    }
    else
    {
        <Form Model="@newActivity"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
          Size="@formSize">

        <div class="d-flex justify-content-center">
            <FormItem Label="Form Size">
                <RadioGroup @bind-Value="@formSize">
                    <Radio RadioButton Value="@AntSizeLDSType.Small">Small</Radio>
                    <Radio RadioButton Value="@AntSizeLDSType.Default">Default</Radio>
                    <Radio RadioButton Value="@AntSizeLDSType.Large">Large</Radio>
                </RadioGroup>
            </FormItem>
        </div>

        <div class="row">
            <div class="col">
                <div class="item">
                    <FormItem Label="Name">
                        <Input @bind-Value="@context.Name" Placeholder="Enter a Name" />
                    </FormItem>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <FormItem Label="Description">
                        <TextArea @bind-value="context.Description" Placeholder="Enter a Description" />
                    </FormItem>
                </div>
            </div>
        </div>

        <!-- <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <button HtmlType="submit" class="btn btn-primary">
                Submit
            </button>
        </FormItem>-->
        <div class="d-flex justify-content-center">
            <FormItem WrapperColOffset="8" WrapperColSpan="16">
                <button HtmlType="submit" class="btn btn-primary">
                    Submit
                </button>
            </FormItem>
        </div>

    </Form>
    }
</div>


<style>
    .avatar-uploader > .ant-upload {
        width: 128px;
        height: 128px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .row {
        display: flex;
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .col-8 {
        flex-basis: 66.67%;
        padding-right: 10px;
    }

    .col-2 {
        flex-basis: 16.67%;
        padding-right: 10px;
    }

    .item {
        padding: 10px;
    }

    .imageItem {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
</style>

@code
{
    [Parameter]
    public string Id { get; set; }

    private string formSize = AntSizeLDSType.Small;
    private Activity newActivity = new();
    private bool isUpdated = false;


    protected async override Task OnInitializedAsync()
    {
        Int32.TryParse(Id, out int id);
        newActivity = await EarnablesService.GetActivityById(id);
    }

    private async void OnFinish(EditContext editContext)
    {
        await EarnablesService.UpdateActivity(newActivity);
        isUpdated = true;
    }

    private void OnFinishFailed(EditContext editContext)
    {
        //Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }
}

