@page "/EditGuide/{Id}"


@using System.Text.Json;

<div class="container-fluid">
    <Form Model="@model"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
          Size="@model.Size">
          <div class="d-flex justify-content-center">
            <FormItem Label="Form Size">
                <RadioGroup @bind-Value="@context.Size">
                    <Radio RadioButton Value="@AntSizeLDSType.Small">Small</Radio>
                    <Radio RadioButton Value="@AntSizeLDSType.Default">Default</Radio>
                    <Radio RadioButton Value="@AntSizeLDSType.Large">Large</Radio>
                </RadioGroup>
            </FormItem>
          </div>

          <div class="row">
              
              <div class="col-md-6 offset-md-3">
                    <FormItem Label="Name">
                            <Input @bind-Value="@context.InputName"  />
                    </FormItem>

                    <FormItem Label="Email">
                            <Input @bind-Value="@context.InputEmail"  />
                    </FormItem>
                    
                    </div>
                    <div class="d-flex justify-content-center">
                    <FormItem WrapperColOffset="8" WrapperColSpan="16">
                        <button HtmlType="submit" class="btn btn-primary">
                        Submit
                        </button>
                    </FormItem>
                    </div>
                    </div>
                    

                    </Form>
                    

</div>
             
                

                @code
                {
    [Parameter]
    public string ID { get; set; }
    public class Model
    {

        public string Size { get; set; } = AntSizeLDSType.Small;
        public string InputName { get; set; } = "Enter their name here";
        public string InputEmail { get; set; } = "Enter their email here";
        
        
       
       
        
        public IEnumerable<string> Names { get; set; } = Array.Empty<string>();
    }

    private Model model = new Model();

    
    record Person(string Name);
    private List<Person> _persons = new List<Person>
        {
            new Person("John"),
            new Person("Lucy"),
            new Person("Jack"),
            new Person("Emily"),
        };

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }

}

